<!--
 * @Author: Danylko
 * @Date: 2022-08-05 16:15:22
 * @LastEditors: Danylko
 * @LastEditTime: 2022-08-05 16:19:40
 * @Description: 请填写简介
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .line {
            height: 1px;
            background-color: red;
        }
        /* .line2 {
            margin-top: 10px;
            height: 0.5px;
            background-color: blue;
        } */
        .line2 {
            margin-top:20px;
            height: 1px;
            transform: scaleY(0.5);
            background-color: blue;
        }
    </style>
</head>
<body>
    <div class="line"></div>
    <div class="line2"></div>
</body>
</html>