<!--
 * @Author: Danylko
 * @Date: 2022-07-19 07:07:54
 * @LastEditors: Danylko
 * @LastEditTime: 2022-08-05 15:25:43
 * @Description: 请填写简介
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .box1 {
        float: left;
        height: 400px;
        background-color: red;
      }
      .box2 {
        width: 200px;
        height: 400px;
        background-color: green;
      }
      .box3 {
        width: 200px;
        height: 400px;
        background-color: blue;
      }
      .con {
        width: 600px;
        height: 600px;
        background-color: yellow;
      }
    </style>
</head>
<body>
    <div class="content">
      <div class="box1">
        xx
      </div>
      <!-- <div class="box2">222</div>
      <div class="box3">333</div> -->
    </div>
    <div class="con">xxxxxx</div>
</body>
</html>